/* Hide scrollbar but allow scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.explore-card-header.flex {
	position: relative;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	overflow: hidden;
	z-index: 99999;
}

.custom-cards-explore {
  width: 64px;
  height: 65px;
}


@media (max-width: 768px) {

.sm\:bg-custom-gray{
background-color: #1a1a19;
}
}

